@import "../../app.scss";

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
       width: 280px;

       @include desktop {
        width: 280px;
      }

        @include tablet {
          width: 244px;
        }

        @include mobile {
          width: 120px;
        }
      }

      p {
        font-size: 26px;
        font-weight: 600;
      }
    }
  }
}